HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Remove yaml from git
/home/bnp-renault-005/Bureau/ANDY/DIGITAL_FACTORY/URLShortenerService/URLshortenerService_Project/src/main/resources/application.yml
/home/bnp-renault-005/Bureau/ANDY/DIGITAL_FACTORY/URLShortenerService/URLshortenerAPI/src/main/resources/application.yml
### VS Code ###
.vscode/
